.bg-image{
    background-image: url(https://ik.imagekit.io/mijor8nhc/beautiful-tropical-empty-beach-sea-ocean-with-white-cloud-blue-sky-background_74190-13668.jpg_t=st=1718718603~exp=1718722203~hmac=5c78762117382357511abe1521f31ddbf11194192d242ba2c0d0fb22e65bccd8&w=740?updatedAt=1720024769946);
    background-size: contain;
    height: 500px;
    width: 300px;
    background-repeat: no-repeat;
}